{% extends 'base.html' %}

{% block body %}


<h1>Gradelist</h1>


{% for grade in gradelist %}

grade:<a href="/grade/{{ grade.pk }}/">{{grade.name}}</a>
<p>name:{{grade.name}}</p>
<br>
{% endfor%}

<p>مواقع مفيدة</p>
<a href="http://www.agendaweb.org">http://www.agendaweb.org/a>
<br>

<br>
<a href="https://en.islcollective.com//a>">https://en.islcollective.com</a>
<br>
<a href="http://arab-exams.com">http://arab-exams.com</a>
<br>
<a href="https://ar.khanacademy.org">https://ar.khanacademy.org/<a>
<br>
<a href="https://projeqt.com">https://projeqt.com</a>
<br>
<a href="http://www.engvid.com">http://www.engvid.com</a>
<br>
<a href="http://skellm.sketchengine.co.uk">http://skellm.sketchengine.co.uk</a>
<br>
<a href="http://examenglish.com">http://examenglish.com</a>
<br>
<a href="https://learnenglish.britishcouncil.org/ar">https://learnenglish.britishcouncil.org/ar/<a>
<br>
<a href="http://effortlessenglishclub.com">http://effortlessenglishclub.com</a>
<br>
<a href="http://abuomartube.com/">http://abuomartube.com</a>
<br>
<a href="http://www.bbc.co.uk/learningenglish/">http://www.bbc.co.uk/learningenglish/</a>
<br>
<a href="http://www.fluentu.com/">http://www.fluentu.com/</a>
<br>
<a href="http://www.sparknotes.com/">http://www.sparknotes.com/</a>
<br>
<a href="http://www.e-learningforkids.org/">http://www.e-learningforkids.org/</a>
<br>

{% endblock %}
