{% extends 'base.html' %}
{%  load staticfiles %}

{% block body %}


<h1></h1>

<div class='row'>
	<div class='col-md-6'>
		<img class= 'img-responsive smallsize' style = 'max-width:400px' src="/static/images/IMG_6509.jpg">
	</div>
	<div class='col-md-6'>
		<img class= 'img-responsive' style = 'max-width:400px' src="/static/images/ibrahim01.jpg">
	</div>
</div>
 


 
<br><br><br><br>
{% for stage in stagelist %}

<a href="/stage/{{ stage.pk }}/">{{stage.name}}</a>

<br>
{% endfor%}







<p>مواقع مفيدة</p>
<br>

<a href="https://www.youtube.com/channel/UCHoaEgy2FxODwhAv96GuMFA">https://www.youtube.com/channel/UCHoaEgy2FxODwhAv96GuMFA</a>

<br>

<a href="http://www.agendaweb.org">http://www.agendaweb.org</a>
<br>
<a href="http://kenanaonline.com/users/amer123123/topics/110482/">http://kenanaonline.com/users/amer123123/topics/110482/</a>
<br>
<a href="https://en.islcollective.com//a>">https://en.islcollective.com</a>
<br>
<a href="http://arab-exams.com">http://arab-exams.com</a>
<br>
<a href="https://ar.khanacademy.org">https://ar.khanacademy.org/<a>
<br>
<a href="https://projeqt.com">https://projeqt.com</a>
<br>
<a href="http://www.engvid.com">http://www.engvid.com</a>
<br>
<a href="http://skellm.sketchengine.co.uk">http://skellm.sketchengine.co.uk</a>
<br>
<a href="http://examenglish.com">http://examenglish.com</a>
<br>
<a href="https://learnenglish.britishcouncil.org/ar">https://learnenglish.britishcouncil.org/ar</a>
<br>
<a href="http://effortlessenglishclub.com">http://effortlessenglishclub.com</a>
<br>
<a href="http://abuomartube.com/">http://abuomartube.com</a>
<br>
<a href="http://www.bbc.co.uk/learningenglish/">http://www.bbc.co.uk/learningenglish/</a>
<br>
<a href="http://www.fluentu.com/">http://www.fluentu.com/</a>
<br>
<a href="http://www.sparknotes.com/">http://www.sparknotes.com/</a>
<br>
<a href="http://www.e-learningforkids.org/">http://www.e-learningforkids.org/</a>


{% endblock %}
